{% extends 'base.html' %}

{% block content %}

<div class="products-container" style=" margin-top: 100px; display: flex; flex-wrap: wrap;">
  {% for product in productss %}
<!-- product.Image.url very important -->
<!-- "product" like i, iterates -->
    <div class="card" style="width: 18rem; margin: 20px" >
      <img class="card-img-top" src="{{ product.Image.url }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ product.Title }}</h5>
        <p class="card-text">{{ product.Description }}</p>
        <p class="card-text">Price - {{ product.Price }}</p> 
        <hr>
        <button href="/cart" class="btn btn-outline-secondary">Add to cart</button>
        <a class=" btn btn-outline-success" href="#">View</a>
        
      </div>
    </div>
{% endfor %}
</div>
{% endblock %}